.landing-page{
    min-height:100vh;
    background:#f7f9fc;
    font-family:sans-serif;
}
.landing-navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:white;
    border-bottom:1px solid #e3e7ee;
}
.nav-buttons button{
    margin-left:15px;
    text-decoration:none;
    color:#007bff;
    font-weight:600;
    font-size:15px;
    background-color: white;
    border: none;
}
.hero-section{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px 40px;
}
.hero-text{
    max-width:500px;
}
.hero-text h1{
    font-size:40px;
    margin-bottom:15px;
}
.hero-text p{
    color:#555;
    margin-bottom:25px;
}
.hero-buttons{
    display:flex;
    gap:12px;
}
.primary-btn{
    background:#007bff;
    color:white;
    padding:10px 20px;
    border-radius:6px;
    text-decoration:none;
    border:none;
}
.primary-btn:hover{
    background:#0056b3;
}
.secondary-btn{
    background:#e9ecef;
    color:black;
    padding:10px 20px;
    border-radius:6px;
    text-decoration:none;
    border:none;
}
.secondary-btn:hover{
    background:#0056b3;
    color:white
}
.hero-image img{
    width:420px;
}
.features-section{
    padding:50px 40px;
    text-align:center;
}
.features-grid{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px,1fr));
    gap:20px;
}
.feature-card{
    background:white;
    padding:25px;
    border-radius:10px;
    border:1px solid #e3e7ee;
}
.feature-card h3{
    margin-bottom:10px;
}
.cta-section{
    padding:60px 40px;
    text-align:center;
}
.cta-section p{
    margin:10px 0 20px;
}
.landing-footer{
    padding:20px;
    text-align:center;
    border-top:1px solid #e3e7ee;
    background:white;
}